
nav {
  text-align: right;

  img {
    max-width: 150px;
  }

  ul.c-nav {
    margin: 0;
    li {
      list-style-type: none;
      display: inline-block;
      padding: 0 1.5em;
      a {
        text-decoration: none;
      }
    }

    a {
      color: #ffffff;
      text-decoration: none;
      z-index: 999;
      @include media-breakpoint-up(md) {
        &:after {
          color: #ffffff;
          text-decoration: none;
          content: '';
          display: block;
          margin: 15px auto 0 auto;
          width: 0%;
          height: 0%;
          opacity: 0;
          border-bottom: 2.5px solid $brand-primary;
          transition: all 0.2s ease;
          transform: skewY(-2deg);
        }
      }
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
      &:hover:after {
        color: #ffffff;
        text-decoration: none;
        width: 100%;
        opacity: 1;
      }
    }

    a.active {
      display: block;
      &:after {
        color: #ffffff;
        text-decoration: none;
        content: '';
        display: block;
        margin: 15px auto 0 auto;
        border-bottom: 2.5px solid $brand-primary;
        width: 100%;
        height: 0%;
        opacity: 1;
        transform: skewY(-2deg);
      }
    }
  }

  @keyframes a-height {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }

  @include media-breakpoint-down(sm) {
    .c-nav {
      visibility: hidden;
      height: 0;
      opacity: 0;
      top: -20px;
      position: relative;
      transition: visibility 0s, top 1s, opacity 0.5s ease-out;
      &.active {
        visibility: visible;
        height: 100%;
        opacity: 1;
        top: 0;
        transition: visibility 0s, top 1s, opacity 0.5s ease-out;
        li {
          display: block;
          text-align: center;
          width: 100%;
          margin: 2em 0;
        }
      }
    }
    .c-nav-mobile-img {
      position: relative;
      left: 0;
      display: inline-block;
      width: 200px;
    }
    .c-nav-mobile-toggle {
      display: inline-block;;
    }
  }
  .c-nav-mobile-toggle {
    display: none;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 100;
    text-indent: -999rem;
    overflow: hidden;
    span {
      display: block;
      width: 28px;
      height: 3px;
      background-color: $brand-primary;
      position: absolute;
      left: 50%;
      margin-left: -15px;
      &:nth-child(1) {
        top: 16px;
        margin-top: -1.5px;
      }
      &:nth-child(2) {
        top: 50%;
        margin-top: -1.5px;
      }
      &:nth-child(3) {
        bottom: 16px;
        margin-bottom: -1.5px;
      }
    }
    &.active{
      span{
        &:nth-child(1) {
          top: 50%;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          bottom: 50%;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }
}