section{
  position: relative;
  display: block;
  .c-section-lineup{
    width:600px;
    margin: 2em auto;
    @include media-breakpoint-down(md){
      width:250px;
    }
  }
  .c-section-logo{
    img{
      max-width:200px;
      margin: 0 auto;
    }
  }
}
