/*
 * BASE
 */

html{
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-color;
}

body{
  font-family: $base-font-family;
  background-color:#000000;
  color: $base-color;
  background: url('../img/bg.jpg') center center no-repeat;
  background-size: cover;
}

a{
  text-decoration:none;
  &:hover{
    text-decoration:none;
  }
}