.e-button{
  background: #ffffff;
  font-family: $base-font-family;
  padding: 0.5em 1.25em;
  text-transform: uppercase;
  color: $brand-primary;
  font-weight:600;
  font-size: 2.5rem;

  @include media-breakpoint-down(md){
    font-size: 1.5rem;
  }

  margin-bottom: 2em;
  letter-spacing: 2px;
  &:hover{
    background-color: darken(#ffffff, 15%);
    transition: all 0.3s ease-out;
  }
}