// Colors
$brand-primary: #366793;
$dark: #333333;

@import url('https://fonts.googleapis.com/css?family=Asap+Condensed:400,600');

// Fonts
// TYPOGRAPHY
$base-font-family: 'Asap Condensed', sans-serif;
$base-font-size: 1rem;
$base-font-weight: normal;
$base-line-height: 1.5;
$base-color: #ffffff;

$h1-font-family: Helvetica, sans-serif;
$h1-font-size: 2rem;
$h1-font-weight: bold;
$h1-line-height: 1.375;
$h1-color: #ffffff;

$h2-font-family: Helvetica, sans-serif;
$h2-font-size: 1.75rem;
$h2-font-weight: bold;
$h2-line-height: 1.375;
$h2-color: #ffffff;

$h3-font-family: Helvetica, sans-serif;
$h3-font-size: 1.5rem;
$h3-font-weight: bold;
$h3-line-height: 1.375;
$h3-color: $dark;

$h4-font-family: Helvetica, sans-serif;
$h4-font-size: 1.375rem;
$h4-font-weight: bold;
$h4-line-height: 1.375;
$h4-color: $dark;

$h5-font-family: Helvetica, sans-serif;
$h5-font-size: 1.25rem;
$h5-font-weight: bold;
$h5-line-height: 1.375;
$h5-color: $dark;

$h6-font-family: Helvetica, sans-serif;
$h6-font-size: 1.125rem;
$h6-font-weight: bold;
$h6-line-height: 1.375;
$h6-color: $dark;